<!--
    parameters:
      * images: [{url, title}]
      * page_no: 1-based
      * page_size
      * div_id: optional
-->
{% set div_id = div_id or 'image_select_' + str(random.randint(1, 100)) %}
{% set numColumns = 4 %}
{% set totalPages = math.ceil(len(images) / page_size) %}
<div class="image-select-table-widget" id='{{div_id}}' data-page="{{page_no}}" data-total-pages="{{totalPages}}">
<div><b>待选图片</b></div>
<table style='width:100%'>
    {% for i in range(math.ceil(len(images[(page_no-1)*page_size:page_no*page_size]) / numColumns)) %}
    <tr style="min-height:200px">
        {% for j in range(numColumns) %}
		{% if i*numColumns + j < page_size %}
        <td style="width:25%;height:100%">
			<div style="position:relative;padding-top:20px;display:inline-block;width:100%;height:100%">
				<a href="#" onclick="clickImage(this, {{div_id}})">
					<span class="image-select-mark" style="position:absolute;right:50%;top:50%;background:green;text-align:center;border-radius:30px 30px 30px 30px;color:white;padding:5px 10px;font-size:20px;display:none"></span>
					<img style="display:block;margin-left:auto;margin-right:auto;max-width:80%;max-height:100px" src="{{images[(page_no-1)*page_size + i*numColumns + j]}}"></img>
				</a>
			</div>
		</td>
		{% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<nav aria-label='Image navigation'>
    <ul class="pagination">
        <li class="page-item {{'disabled' if page_no == 1 else ''}}"><a class="page-link" href="javascript:gotoPreviousPage({{div_id}}, {{page_size}})">Previous</a></li>
        {% for i in range(1, math.ceil(len(images) / page_size) + 1) %}
        <li class="page-item {{'active' if page_no == i else ''}}"><a class="page-link" href="javascript:gotoPage({{div_id}}, {{i}}, {{page_size}})">{{i}}</a></li>
        {% endfor %}
        <li class="page-item {{'disabled' if page_no >= totalPages else ''}}"><a class="page-link" href="javascript:gotoNextPage({{div_id}}, {{page_size}})">Next</a></li>
    </ul>
</nav>
<script>
    const getText = url => {
        const req = new XMLHttpRequest();
        return new Promise((resolve, reject) => {
            req.addEventListener('load', function () { resolve(this.responseText); });
            req.open('GET', url);
            req.send();
        });
    };
    function insertAfter(el, inserted) {
        el.parentNode.insertBefore(inserted, el.nextSibling);
    }
    const htmlToDom = html => {
        return new DOMParser().parseFromString(html, "text/xml");
    }
    const replaceElementAsHtml = (el, html) => {
        el.outerHTML = html;
    }
    // jinja automatically transform id to element itself
    async function gotoPage(div, page_no, page_size) {
        const html = await getText(`/api/assets/image_select?page_no=${page_no}&page_size=${page_size}&div_id=${div.id}`);
        replaceElementAsHtml(div, html);
		// the div is replaced, so we should re-fetch the div element
		const id = div.id;
		setTimeout(() => IMAGE_SELECT.updateImageSelection(document.getElementById(id)), 100);
    }
    async function gotoPreviousPage(div, page_size) {
        let page_no = parseInt(div.dataset.page);
        if (page_no <= 1) {
            return;
        }
        page_no = page_no - 1;
        gotoPage(div, page_no, page_size);
    }
    async function gotoNextPage(div, page_size) {
        let page_no = parseInt(div.dataset.page);
        const totalPages = parseInt(div.dataset.totalPages);
        if (page_no >= totalPages) {
            return;
        }
        page_no = page_no + 1;
        gotoPage(div, page_no, page_size);
    }
	class ImageSelect {
		constructor() {
			this.events = {};
			this.selectedImages = {}; // div_id => [img_src]
		}
		on(eventName, callback) {
			if (!callback) return;
			this.events[eventName] = callback;
		}
		emit(evt) {
			const callback = this.events[evt.name];
			if (callback) {
				callback(evt);
			}
		}
		selectImage(div, img) {
			const id = div.id;
			if (!this.selectedImages[id]) {
				this.selectedImages[id] = [];
			}
			const src = img.src;
			if (this.selectedImages[id].indexOf(src) === -1) {
				this.selectedImages[id].push(src);
			}
		}
		unselectImage(div, img) {
			const id = div.id;
			if (!this.selectedImages[id]) {
				return;
			}
			const idx = this.selectedImages[id].indexOf(img.src);
			if (idx !== -1) {
				this.selectedImages[id].splice(idx);
			}
		}
		// update the div to select all the images recorded in selectedImages
		updateImageSelection(div) {
			const id = div.id;
			const urls = this.selectedImages[id] || [];
			const marks = div.querySelectorAll('span.image-select-mark');
			for (let mark of marks) {
				const img = mark.parentNode.querySelector('img');
				const url = img.src;
				setElementVisible(mark, urls.indexOf(url) !== -1);
			}
		}
	}
	const IMAGE_SELECT = new ImageSelect();
	function setElementVisible(el, visible) {
		el.style.display = visible ? '' : 'none';
	}
	function toggleElement(el) {
		if (el.style.display === 'none') {
			el.style.display = '';
			return true;
		} else {
			el.style.display = 'none';
			return false;
		}
	}
	function clickImage(link, div) {
		const mark = link.querySelector('span');
		const img = link.querySelector('img');
		if (toggleElement(mark)) {
			IMAGE_SELECT.selectImage(div, img);
			IMAGE_SELECT.emit({name: 'imageSelected', src: img.src, div});
		} else {
			IMAGE_SELECT.unselectImage(div, img);
			IMAGE_SELECT.emit({name: 'imageUnselected', src: img.src, div});
		}
	}
	// IMAGE_SELECT.on('imageSelected', e => console.log(e));
	// IMAGE_SELECT.on('imageUnselected', e => console.log(e));
</script>
</div>
