{% extends "base.html" %}
{% block title %}alumni_activities{% endblock %}
{% block body %}

{% with imgs=pages_info.home_images %}
	{% include 'common/carousel.html' %}
{% endwith %}	

<div class="jumbotron"> 
	{% for p in pages_info.introduction %}
		<p>{{p}}</p>
	{% endfor %}
</div>

<div class="card-columns">
{% for activity in pages_info.activites_info %}
	<div class="card m-2 p-2" style="width: 20rem;">
	   {% for img in activity.image %}
	  		<img  class="card-img-top img-fluid" src="{{ url_for('static', filename=img) }}">
	   {% endfor %}
	  <div class="card-block">
	    <p class="card-text">{{activity.title}}</p>
	  </div>
	</div>
{% endfor %}
</div>

{% endblock %}
