{% extends "base.html" %}
{% block title %}alumni_action{% endblock %}
{% block body %}

<style type="text/css">
	.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}
</style>

<div style="background-color: #0ED0A7;" class="jumbotron">
  <h1 style="text-align: center; color: white;">校友会在行动</h1>
</div>

<div class="container" style="min-height: 400px">
  <div class="row"></div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">		
		<div id="accordion">
			{% for index in range(pages_info.notices|length) %}
				<div class="card">
			    <div class="card-header" id="heading_{{index}}">
			      <h5 class='title'>{{pages_info.notices[index][0].title}}</h5>
			      	<p class='d-inline'>{{pages_info.notices[index][1].paragraph}}</p>
			        <button class='d-inline btn btn-primary btn-sm' data-toggle="collapse" data-target="#collapse_{{index}}" aria-expanded="true" aria-controls="collapse_{{index}}">阅读更多</button>
			      </h5>
			    </div>
			    <div id="collapse_{{index}}" class="collapse" aria-labelledby="heading_{{index}}" data-parent="#accordion">
			      <div class="card-body">
			        {% with data=pages_info.notices[index][2:] %}
				       	{% include 'pages/notice_template.html' %}
				    {% endwith %}
			      </div>
			    </div>
			  </div>		
			{% endfor %}
		</div>
	</div>
	<div class="col-1"></div>
  </div>
</div>

<script type="text/javascript">
	
	$('.collapse').on('shown.bs.collapse', function () {
		$(this).parent().find('button').text("更少");
	})
	$('.collapse').on('hide.bs.collapse', function () {
		$(this).parent().find('button').text("阅读更多");
	})

</script>

	
{% endblock %}
