{% extends "base.html" %}
{% block title %}contact us{% endblock %}
{% block body %}

<div style="background-color: #0ED0A7;" class="jumbotron">
      <h1 style="text-align: center; color: white;">联系我们</h1>
</div>

<div style="text-align: center">
      <h4 class="m-2">我们的地址，电话，邮箱和微信</h4>
      <div style="margin: auto;" class="card m-3" style="width: 30rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">地址：1601 McCarthy BLVD, Suit 9 Milpitas, California 95035, USA</li>
          <li class="list-group-item">邮箱：<a href="http:www.info@wuhanuniveristy.org">info@whuanuniversity.org</a></li>
          <li class="list-group-item">微信公众号：武大北加州校友会</li>
          <li class="list-group-item">Wechat：chenwang890101 (副会长 Harry Wang)</li>
      </ul>
      </div>

      <h4 class="m-2">网站志愿者支持团队</h4>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">项目管理：Harry Wang</li>
        <li class="list-group-item">技术管理：Gaohong Wei, Hao Liu, Wentao Wang</li>
        <li class="list-group-item">开发支持：Wentao Wang, Hao Liu, Haoran Yu, Edie, Aya</li>
        <li class="list-group-item">产品支持：Guangyu Zhou, Yiwei Fu, @robyy</li>
        <li class="list-group-item">技术支持：Ruoning Qian, Pengqiu Meng，Haoran Yu, liwen Lin</li>
        <li class="list-group-item">运营支持：Hao Liu， Wentao Wang</li>
        <li class="list-group-item">用户体验（UX/UI)：Ruoning Qian, Pengqiu Meng, Haoran Yu, Yalu Ye</li>
        <li class="list-group-item">信息收集：Simin Guo, Ruoning Qian, Liwen Lin</li>
        <li class="list-group-item">网站验证：Simin Guo, Yiwei Fu</li>
        <li class="list-group-item">更多校友支持名单会持续更新</li>
      </ul>
      <br>

      <h4 class="text-center">衷心感谢中美两地校友，朋友的及时支持！为了武汉，我们一直在加油！</h4>
      <div style="margin: auto;" class="card m-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">版本信息</h5>
        <p class="card-text">Jan 29th 2020 团队组建</p>
        <p class="card-text">Feb 3rd 2020 V1.0 上线</p>
      </div>
    </div>
</div>

{% endblock %}