{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block body %}

<h1 class='jumbotron text-center'>捐赠方式</h1>
<div class="container">
  <div class="row"></div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <!-- <h1 class='jumbotron'>捐赠方式</h1> -->
      <span>
        <h2>武汉大学海外校友会科学基金会, 通过Gofundme捐款 </h2>
        <p style='color:#ff0000'>校友会第一轮捐款暂时停止，如有捐款意向，请联系我们。</p>
        <!-- {% include 'common/gofundme.html' %} -->
      </span>
      <p>
        武汉大学海外校友科学基金会筹款，也是Wuhan United捐赠平台
        (wuhanunited.org)
        。我们承诺将尽最大努力确保筹款透明度。
      </p>
      <p>
        基金会是在美国注册的非政府组织，总部位于加利福尼亚州弗里蒙特。这是一个已注册的501
        (c)
        (3)非营利组织，因此您所做的所有捐赠都可以免税。
      </p>
      <p>
        武汉大学海外校友科学基金会也可以在其他捐赠平台上找到
        (例如Benevity)。
      </p>

      <hr>
      <!-- 捐赠公示模版 -->
      {% for notice in pages_info.notices %}
        {% with data=notice %}
          {% include 'pages/notice_template.html' %}
        {% endwith %} 
      {% endfor %}             
      <!-- end 捐赠公示模版 -->
      
    </div>
    <div class="col-1"></div>
  </div>
</div>
{% endblock %}