<hr>

{% for block in pages_info.notices %}
	{% for tag in block %}
		{% if tag == 'title' %}
			<h2>{{block[tag]}}</h2>
		{% elif tag == 'sub_title' %}
			<h4 class='text-center'>{{block[tag]}}</h4>
		{% elif tag == 'paragraph' %}
			<p>{{block[tag]}}</p>
		{% elif tag == 'source' %}
			<p><a href={{block[tag].link}} target="_blank">{{block[tag].content}}</a></p>
		{% elif tag == 'list' %}
			<ol>
      			{% for member in block[tag] %}
      				<li>{{member}}</li>
      			{% endfor %}
			</ol>
		{% elif tag == 'table' %}
			<table class="table table-striped">
			  <tbody>
			  	{% for row_strs in block[tag] %}
			    <tr>
		    		{% set res = row_strs.split('|') %}
		    		{% for cell in res %}
		    			<th scope="col">{{cell}}</th>
		    		{% endfor %}
			    </tr>
			    {% endfor %}
			  </tbody>
			</table>
		{% endif %}
	{% endfor %}	
{% endfor %}


