{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block body %}
<div class="container">
  <div class="row"></div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <h1 class='text-primary'>Ways to Help</h1>
      <p>
        Wuhan United co-organize this fundraise with Wuhan University
        Overseas Alumni Science Foundation, and HUST Silicon Valley
        Fund. HUST stands for Huazhong
        University of Science and Technology. We promise our best
        efforts to ensure
        transparency. Please follow our reports and updates in What's Happening
      </p>
    </div>
    <div class="col-1"></div>
  </div>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-5">
      <h3 class='text-success'>
        Fundraising Through Wuhan University Oversea Alumni Science
        Foundation(WHOASF)
      </h3>
    </div>
    <div class="col-5">
      <h3 class='text-success'>Fundraising Through HUST Silicon Valley Fund</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-5">
      <p>
        WUOASF is an NGO registered in US and headquartered in
        Fremont, CA. It is a registered 501(c)(3) non-profit
        organization so that all donations you
        make will be tax deductible.
      </p>
      <p>
        Wuhan University Oversea Alumni Science Foundation
        can also be found on donation
        platforms such as Benevity.
      </p>
    </div>
    <div class="col-5">
      <p>
        HUST Silicon Valley Fund was established as a 501(c)(3)
        organization by a group of alumni of Huazhong University of
        Science and Technology (HUST).
      </p>
      <p>
        HUST Silicon Valley Fund can also be found on donation
        platforms such as Benevity.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-5">
      {% include 'common/gofundme.html' %}
    </div>
    <div class="col-5">
      {% include 'common/paypal.html' %}
    </div>
  </div>
</div>
{% endblock %}