{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block body %}
<div class="container">
  <div class="row"></div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <h1 class='text-primary'>Ways to Help</h1>
      <p>
        Wuhan United co-organize this fundraise with Wuhan University Overseas
        Alumni
        Science Foundation, and HUST Silicon Valley Fund. HUST stands for
        Huazhong
        University of Science and Technology. We promise our best efforts to
        ensure
        transparency. Please follow our reports and updates in What's Happening
      </p>
    </div>
    <div class="col-1"></div>
  </div>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-5">
      <h3 class='text-success'>
        Fundraising Through Wuhan University Oversea Alumni Science
        Foundation
        (WHOASF)
      </h3>
    </div>
    <div class="col-5">
      <h3 class='text-success'>Fundraising Through HUST Silicon Valley Fund</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-5">
      <p>
        WUOASF is an NGO registered in US and headquartered in Fremont, CA. It
        is a
        registered 501(c)(3) non-profit organization so that all donations you
        make will
        be tax deductible.
      </p>
      <p>
        Wuhan University Oversea Alumni Science Foundation can also be found on
        donation
        platforms such as Benevity.
      </p>
    </div>
    <div class="col-5">
      <p>
        HUST Silicon Valley Fund was established as a 501(c)(3) organization by
        a group
        of alumni of Huazhong University of Science and Technology (HUST).
      </p>
      <p>
        HUST Silicon Valley Fund can also be found on donation platforms such as
        Benevity.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-5">
      <div role="presentation" class="U26fgb Y7mtcb QmpIrf"
        jscontroller="VXdfxd"
        jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseenter:tfO1Yc; mouseleave:JywGue; focus:AHmuwe; blur:O22p3e; contextmenu:mg9Pef;"
        jsshadow="" aria-label="DONATE NOW" aria-disabled="false"
        data-tooltip="DONATE NOW" data-tooltip-vertical-offset="-12"
        data-tooltip-horizontal-offset="0"><a class="FKF6mc TpQm9d QmpIrf"
          href="https://www.google.com/url?q=https%3A%2F%2Fwww.gofundme.com%2Fwuhan-united&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNEx7oK6YLE7XHva1fJ47MtIX2nGYw"
          target="_blank" aria-label="DONATE NOW">
          <div class="zIySo">
            <p>DONATE NOW</p>
          </div>
          <div class="GTsbj" jsname="ksKsZd"></div>
        </a></div>
    </div>
    <div class="col-5">
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post"
        target="_blank">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="D7RW332ZX8UM2">
        <input style="display: block; margin: 0 auto;" type="image"
          src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif"
          border="0" name="submit"
          title="PayPal - The safer, easier way to pay online!"
          alt="Donate with PayPal button">
      </form>
    </div>
  </div>



</div>
{% endblock %}