{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<div class="container">

  <div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12 jumbotron" style="padding: 0">
      	<div class="home_content w-100 mx-auto">
			<!--Carousel placeholder-->
			<div id="carouselExampleIndicators1">
				<div style="visible:none;height:0px">
					<div class="slide-image" data-src="{{url_for('static', filename='image/alumni_activities/2018_bbq.jpg')}}"></div>
					<div class="slide-image" data-src="{{url_for('static', filename='image/alumni_activities/2017_president.jpg')}}"></div>
					<div class="slide-image" data-src="{{url_for('static', filename='image/h2.jpg')}}"></div>
				    <div class="slide-image" data-src="{{url_for('static', filename='image/h4.jpg')}}"></div>
				    <div class="slide-image" data-src="{{url_for('static', filename='image/h5.jpg')}}"></div>
				    <div class="slide-image" data-src="{{url_for('static', filename='image/h6.jpg')}}"></div>
				</div>
			</div>
			<script>
				const get_urls = id => {
					const elem = document.getElementById(id);
					if (!elem) return [];
					const divs = elem.querySelectorAll('div.slide-image');
					const urls = [];
					for(let div of divs) {
						urls.push(div.dataset.src);
					}
					return urls;
				};
				const carousel = (id, height) => {
					const urls = get_urls(id);
					CanvasImage.carousel_bootstrap4(id, urls, height);
				};
				const id1 = 'carouselExampleIndicators1';
				document.body.onload = () => {
					carousel(id1, '300px');
				};
			</script>
	    </div>
	</div>
  </div>

  <div class="row">
    <div class="col-md-6 col-lg-6 col-xl-6 jumbotron">
    	<p><strong>{{pages_info.alumni_association.title}}</strong></p>
      	<p>{{pages_info.alumni_association.content}}</p>
      	<p>{{pages_info.alumni_association.member_info.cur_title}}</p>
      	<ul>
      		{% for member in pages_info.alumni_association.member_info.cur_member %}
      		<li>{{member}}</li>
      		{% endfor %}
		</ul>
		<p>{{pages_info.alumni_association.member_info.pre_title}}</p>
		<ol>
      		{% for member in pages_info.alumni_association.member_info.pre_member %}
      		<li>{{member}}</li>
      		{% endfor %}
		</ol>

		<a href={{pages_info.alumni_association.legality.link}} target="_blank">{{pages_info.alumni_association.legality.title}}</a>
    </div>

    


    <div class="col-md-6 col-lg-6 col-xl-6 jumbotron">
      <p><strong>{{pages_info.foundation.title}}</strong></p>
      	<p>{{pages_info.foundation.content}}</p>
      	<p>{{pages_info.foundation.member_info.title}}</p>
      	<ul>
      		{% for index in range(pages_info.foundation.member_info.member|length) %}
      			{% if index == 0%}
      				<!-- Button trigger modal -->
						<li><button type="button" class="btn btn-sm btn-outline-info" data-toggle="modal" data-target="#exampleModal_1">{{pages_info.foundation.member_info.member[index]}}</button>
						</li>
						<!-- Modal -->
						<div class="modal fade" id="exampleModal_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel_1" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						      	<img src="{{ url_for('static', filename=pages_info.foundation.hzr.image) }}">
						   
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						      	<h5 class="modal-title" id="exampleModalLabel_1">{{pages_info.foundation.hzr.title}}</h5>
						        {{pages_info.foundation.hzr.content}}
						        <p>{{pages_info.foundation.hzr.source.title}}<a href={{pages_info.foundation.hzr.source.link}} target="_blank">{{pages_info.foundation.hzr.source.content}}</a></p>
						      </div>
						    </div>
						  </div>
						</div>
				{% elif index == 1 %}
						<!-- Button trigger modal -->
						<li><button type="button" class="btn btn-sm btn-outline-info" data-toggle="modal" data-target="#exampleModal_2">{{pages_info.foundation.member_info.member[index]}}</button>
						</li>
						<!-- Modal -->
						<div class="modal fade" id="exampleModal_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel_2" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						      	<!-- <img src="{{ url_for('static', filename=pages_info.foundation.hzr.image) }}"> -->
						   		<h5 class="modal-title" id="exampleModalLabel_2">{{pages_info.foundation.wgf.title}}</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						        {{pages_info.foundation.wgf.content}}
						      </div>
						    </div>
						  </div>
						</div>
      			{% else %}
      				<li>{{pages_info.foundation.member_info.member[index]}}</li>
      			{% endif %}
      		{% endfor %}
		</ul>
    </div>
  </div>


  <div class="row">
  	{% for topic in pages_info.special_topic %}
  	<div class="card m-3" style="width: 20rem;">
  		<img class="card-img-top" src="{{url_for('static', filename=topic.image) }}">
	  <div class="card-body text-center">
	  	{% for index in range(topic.link|length) %}
	    <a href={{topic.link[index]}} class="btn btn-primary">
	    	{{topic.title[index]}}
		</a>
	    {% endfor %}
	  </div>
	</div>
	{% endfor %}

  </div>



</div>

{% endblock %}
