{% extends "base.html" %}
{% block title %}QA{% endblock %}
{% block body %}

<div class="jumbotron">
  <h1>Q&A</h1>
</div>

<ul class="list-group list-group-flush">
     <li class="list-group-item">
        <p>Q1: 如何加入武汉大学北加州校友会网络？</p>
        <p>A1：请加微信：chenwang891010，验证校友身份后，邀请加入校友会微信群。</p>
    </li>

     <li class="list-group-item">
    <p>Q2:校友会是否接受小批量物资捐赠？</p>
    <p>A2：目前校友会暂无渠道处理小批量散货的援助，专注大批量物资的集中运输，但是校友会可以协调关联其他平台处理散货援助，请加校友会微信.</p>
    </li>

     <li class="list-group-item">
    <p>Q3: 现在中美航班停飞，会影响校友会运输物资回国么？</p>
    <p>A3：我们是和美国慈善组织合作来向中国捐助物资，是以货运包机的形式，明航停飞对我们目前没有影响。</p>
    </li>

    <li class="list-group-item">
    <p>Q4.捐款收入支出会向社会公布么？</p>
    <p>A4：我们将会在网站上公开账目和去向，目前正在处理网站公示的技术问题。</p>
    </li>

    <li class="list-group-item">
    <p>Q5: 本次募集采购的器材是什么？</p>
    <p>A5：校友会将采购的四类器材，根据武汉协和医院官方捐赠要求：防护口罩包括：医用防护口罩：符合中国GB 19083-2010 N95口罩：美国NIOSH认证，非油性颗粒物过滤效率 >=95% 欧洲N95口罩：欧洲FFP2标准 KN95口罩：符合中国GB 2626强制性标准，非油性颗粒物过滤效率 >=95%。这些口罩不带呼吸器/呼吸阀的外科口罩：符合 yy 0469-2011医用外科口罩防护服：符合GB19082-2009《医用一次性防护服技术要求》二级以上医用防护服：一般衣服上有红蓝条纹护目镜：二级以上医用护目镜。</p>
    </li>

    <li class="list-group-item">
    <p>Q6: 如何保证医疗物资及资金可以递送到湖北的医院？</p>
    <p>A6：当下武汉的疫情防控政策每日都在更新，随时可能放宽或收紧。我们将遵从“专款专用，扶助医护”的原则，力图用最有效最可靠的途径将物资运送到疫情战斗的一线。</p>
    </li>

    <li class="list-group-item">
    <p>Q7: 捐款购买的医疗物资是否会送达指定医院或者武汉周边城市？</p>
    <p>A7: 校友会将秉承“同舟共济，情系家乡”的精神，在捐款过程中即时会通过网站及微信公众号，更新募捐数额、购买募集产品种类及数量、送达结果。我们将保证募捐的公开透明，也欢迎大家监督。</p>
    </li>

    <li class="list-group-item">
    <p>Q8: 是否可以提供税收减免收据？</p>
    <p>A8: 我们的捐款渠道都是501(c)(3)注册的NGO。捐款都是100%税务减免。</p>
    </li>

</ul>

{% endblock %}