{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<div class="jumbotron" style="background-color:rgb(36,59,43); padding: 1.8rem;">
	<h1 style="text-align: center;color:white;">武汉疫情动态</h1>
</div>

<div id='overview' class='row'
    style="align-items: center; justify-content: center;">

    <div class="col-1"></div>
    <div class="col-10">
        <p>
            {{pages_info.introduction}}
        </p>

		<div><b>统计数据</b>
        <ul>
            <li>累计确诊：<span id='confirmedCount'></span></li>
            <li>累计治愈：<span id='curedCount'></span></li>
            <li>现存重症：<span id='seriousCount'></span></li>
            <li>现存疑似：<span id='suspectedCount'></span></li>
            <li>累计死亡：<span id='deadCount'></span></li>
        </ul>
		<div><b>较昨日变化</b>
        <ul>
            <li>新增重症：<span id='seriousIncr'></span></li>
            <li>新增治愈：<span id='curedIncr'></span></li>
            <li>新增疑似：<span id='suspectedIncr'></span></li>
            <li>新增死亡：<span id='deadInc'></span></li>
        </ul>
		</div>
		<div><b>备注</b><span id='remarks'></span></div>
		<div><b>说明</b><span id='notes'></span></div>
		<div style="height:600px"><b>全国各省概况地图</b>
			&nbsp;&nbsp;
			<span><select id='chinaMapSelect'></select></span>
			<div id='chinaMap'></div>
		</div>
		<div style="height:600px"><b>世界各国概况地图</b>
			&nbsp;&nbsp;
			<span><select id='worldMapSelect'></select></span>
			<div id='worldMap'></div>
		</div>
		<div><b>概况</b><div id='dailyPics' style="width:60%"></div></div>
        <div><b>全国趋势图</b><div id='quanguoTrendChart' style="width:60%"></div></div>
        <div><b>湖北/非湖北趋势图</b><div id='hbFeiHbTrendChart' style="width:60%"></div></div>
		<div><b>更新日期：</b><span id='updateTime'></span></div>
		<div><b>数据来源：</b>
            <a href='https://ncov.dxy.cn/ncovh5/view/pneumonia'>丁香园</a>
            <a href='https://xw.qq.com/act/qgfeiyan'>腾讯</a>
        </div>
    </div>
    <div class="col-1"></div>
</div>

<script>
    const parseOverall = function (data) {
        const info = data.results[0];
		const dailyPics = (info.dailyPic || '').split(',').filter(i => !!i.trim());
        const quanguoTrendChart = info.quanguoTrendChart || [];
        const hbFeiHbTrendChart = info.hbFeiHbTrendChart || [];
        const confirmedCount = info.confirmedCount;
        const suspectedCount = info.suspectedCount;
        const curedCount = info.curedCount;
        const seriousCount = info.seriousCount;
        const deadCount = info.deadCount;
        const suspectedIncr = info.suspectedIncr;
        const seriousIncr = info.seriousIncr;
        const curedIncr = info.curedIncr;
        const deadInc = info.deadIncr;
        const updateTime = Utils.dateFromAsiaSeconds(info.updateTime * 0.001);
        const remarks = [];
        const notes = [];
        for (let key in info) {
            key = key.toLowerCase();
            const value = info[key];
            if (!value) continue;
            if (key.indexOf('remark') !== -1) {
                remarks.push(info[key]);
            }
            if (key.indexOf('note') !== -1) {
                notes.push(info[key]);
            }
        }
        return {
            dailyPics,
            quanguoTrendChart,
            hbFeiHbTrendChart,
            confirmedCount,
            suspectedCount,
            curedCount,
            seriousCount,
            deadCount,
            suspectedIncr,
            seriousIncr,
            curedIncr,
            deadInc,
            updateTime,
            remarks,
            notes
        };
    };
    const addList = function (id, texts) {
        const elem = document.getElementById(id);
        const ul = document.createElement('ul');
        texts.forEach(text => {
            const li = document.createElement('li');
            li.innerText = text;
            ul.appendChild(li);
        });
        elem.appendChild(ul);
    };
	/**
	 * An dict to [{key, value}]
	 **/
	const chinaDataMap = {
		'today.confirm': '今日确诊数目',
		'total.confirm': '累计确诊总数',
		'total.dead': '累计死亡总数',
		'total.deadRate': '累计死亡率',
		'total.heal': '累计治愈',
		'total.healRate': '累计治愈率'
	};
	const worldDataMap = {
		'total.dead': '累计死亡总数',
		'total.confirm': '累计确诊总数',
		'total.heal': '累计治愈',
	};
    const displayMap = async function(mapId, selectId, api, map, dataMap) {
		const getMapData = (key, jsonData) => {
			const items = jsonData.data.map(i => {
				return {name: i.name, value: Utils.getAttr(i, key), data: i};
            }).filter(i => !!i && i.value !== null && i.value !== undefined);
            if (items.length === 0) {
                return null;
            }
			const mapData = {name: dataMap[key], items, time: new Date(jsonData.lastUpdateTime)};
			return mapData;
		};
		const renderMap = (key, jsonData) => {
			const mapData = getMapData(key, jsonData);
			visualization.render_map(mapId, mapData, map);
		};
        const jsonData = await Utils.get(api) || {};
        const pairs = Utils.mapToPairs(dataMap).map(i => new Object({name: i.value, value: i.key}));
		Utils.setupSelect(selectId,
			pairs,
			key => renderMap(key, jsonData)
		);
		renderMap(pairs[0].value, jsonData);
    };
    const displayChinaMap = () => displayMap('chinaMap', 'chinaMapSelect', '/api/reports/provinces', 'china', chinaDataMap);
    const displayWorldMap = () => displayMap('worldMap', 'worldMapSelect', '/api/reports/world', 'world', worldDataMap);
    const displayOverall = async function () {
        const data = await Utils.get('/api/reports/overall');
        const info = parseOverall(data);
        for (let key in info) {
            const elem = document.getElementById(key);
            if (!elem) continue;
            const value = info[key];
            if (['dailyPics', 'quanguoTrendChart', 'hbFeiHbTrendChart'].indexOf(key) !== -1) {
                SlideShow.showSlides(key, value);
            } else if (value instanceof Array) {
                addList(key, value);
            } else {
                elem.innerHTML = value === undefined ? '待发布' : value;
            }
        }
    };
	displayOverall();
	displayChinaMap();
    displayWorldMap();
</script>

{% endblock %}
