[Unit]
Description=website for WuHan Need You
After=network.target

[Service]
Environment="APPLICATION_MODE=deployment"
User=root
Group=www-data
WorkingDirectory=/usr/local/wuhan_need_you
ExecStart=/usr/local/bin/uwsgi --ini /usr/local/wuhan_need_you/deploy/uwsgi.ini

[Install]
WantedBy=multi-user.target
