[Unit]
Description=website for WuHan Need You (Stage)
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/usr/local/wuhan_need_you
ExecStart=/usr/local/bin/uwsgi --ini /usr/local/wuhan_need_you_stage/deploy/uwsgi_stage.ini

[Install]
WantedBy=multi-user.target
