<div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12 jumbotron" style="padding: 0">
        <div class="home_content w-100 mx-auto">
            <div id=carouselExampleIndicators1>
                <div style="visible:none;height:0px">
                    {% for img in imgs %}
                        <div class="slide-image" data-src="{{url_for('static', filename=img)}}"></div>
                    {% endfor %}
                </div>
            </div>
            <script>
                const get_urls = id => {
                    const elem = document.getElementById(id);
                    if (!elem) return [];
                    const divs = elem.querySelectorAll('div.slide-image');
                    const urls = [];
                    for(let div of divs) {
                        urls.push(div.dataset.src);
                    }
                    return urls;
                };
                const carousel = (id, height) => {
                    const urls = get_urls(id);
                    CanvasImage.carousel_bootstrap4(id, urls, height);
                };
                const id1 = 'carouselExampleIndicators1';
                document.body.onload = () => {
                    carousel('carouselExampleIndicators1', '300px');
                };
            </script>
        </div>
    </div>
</div>