

<div class="row">
  <div class="col-md-12">
    <div style="border-bottom: 1px solid #ccc">
      <h2>留言</h2>
    </div> 
     <div class="comments-list">
     	{% for c in comments %}
     		<div style="border-bottom: 1px dotted #ccc">
             <p class="float-right"><small>{{c.created_time|datetime_format_cn}}</small></p>
              <div>
                <h5>{{c.name}}</h5>
                <p>{{c.comment}}</p>                           
              </div>
          	</div>
     	{% endfor %}
     </div>
  </div>
</div>

<form id="comment_form" onsubmit="return false" action="" method="POST">
    <div class="form-group">
      <label>姓名</label>
      <input id="name" type="name" name="name" class="form-control" aria-describedby="nameHelp" placeholder="">
    </div>
    <div class="form-group">
      <label>邮件地址</label>
      <input id="email" type="email" name="email" class="form-control" aria-describedby="emailHelp" placeholder="">
    </div>
    <div class="form-group">
      <label>您的留言</label>
      <textarea id="comment" name="comment" class="form-control" rows="3"></textarea>
    </div>
    <button id="post_btn" type="submit" class="btn btn-primary" onclick="post()">提交</button>
	<div>&nbsp;</div>
</form>      

<script type="text/javascript">
	function post() {
		var notice_id = $("#notice_id").text();
		var notice_title = $("#notice_title").text();
		$.ajax({
			type: "POST",
			url: "/post_comment",
			data: $("#comment_form").serialize() + '&notice_id=' + notice_id + '&notice_title=' + notice_title,
			success: function(res) {
				alert('评论成功，感谢您的评论！');
				location.reload();
			},
			error: function(err) {
				console.log('err')
			}
	 	})
	}
</script>
