<div role="presentation" class="U26fgb Y7mtcb QmpIrf" jscontroller="VXdfxd"
  jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseenter:tfO1Yc; mouseleave:JywGue; focus:AHmuwe; blur:O22p3e; contextmenu:mg9Pef;"
  jsshadow="" aria-label="DONATE NOW" aria-disabled="false"
  data-tooltip="DONATE NOW" data-tooltip-vertical-offset="-12"
  data-tooltip-horizontal-offset="0">
  <p class="zIySo" style='text-align: center;'>  通过Gofundme捐款 
    <a class="FKF6mc TpQm9d QmpIrf"
      href="https://www.google.com/url?q=https%3A%2F%2Fwww.gofundme.com%2Fwuhan-united&amp;sa=D&amp;sntz=1&amp;usg=AFQjCNEx7oK6YLE7XHva1fJ47MtIX2nGYw"
      target="_blank" aria-label="DONATE NOW">
        DONATE NOW
      <div class="GTsbj" jsname="ksKsZd"></div>
    </a>
  </p>
</div>