<div class="container">
  <h1 class="text-center">历史通知和公告</h1>

  {% for notice in pagination.items %}
  <h3 class="text-success">
    {% if notice.title %}
    <a href='/notices/{{notice.id}}'>{{ notice.title }}</a>
    {% endif %}
  </h3>
  <p>{{ notice.created_time | datetime_format_cn }}</p>
  <!-- {{ notice.content | safe }} -->
  
  <br />
  {% endfor %}
  <nav aria-label="...">
    <ul class="pagination">
      {% for p in pagination.iter_pages() %}
        {% if p %}
          {% if p == pagination.page %}
          <li class="page-item active">
            <span class="page-link">
              {{p}}
              <span class="sr-only">(current)</span>
            </span>
          </li>
          {% else %}
          <li class="page-item">
            <a class="page-link"
              href="{{url_for('list_notices', page=p)}}">{{ p }}</a>
          </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</div>
