<!DOCTYPE HTML>
<html>

<head>
	{% include 'common/googletagmanager_head.html' %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<script type="text/javascript"
		src="{{ url_for('static', filename='jQuery.js') }}"></script>
	<script type="text/javascript"
		src="{{ url_for('static', filename='bootstrap-4.4.1-dist/js/bootstrap.min.js') }}"></script>
	<script type="text/javascript"
		src="{{ url_for('static', filename='bootstrap-4.4.1-dist/js/bootstrap.bundle.js') }}"></script>
	<script type="text/javascript"
		src="{{ url_for('static', filename='utils.js') }}"></script>
	<script type="text/javascript"
		src="{{ url_for('static', filename='SlideShow.js') }}"></script>
	<script type="text/javascript"
		src="{{ url_for('static', filename='visualization.js') }}"></script>

	<link rel="stylesheet"
		href="{{ url_for('static', filename='bootstrap-4.4.1-dist/css/bootstrap-grid.css') }}">
	<link rel="stylesheet"
		href="{{ url_for('static', filename='bootstrap-4.4.1-dist/css/bootstrap.min.css') }}">
</head>

<style>
	/* menu layout */
	@media (max-width: 995px) {
		#navbarNav {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, .8);
			z-index: 999;
		}

		#navbarNav .navbar-nav {
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			background: #0C1D0F;
			width: 140px;
			padding: 10px;
		}

		#navbarNav .navbar-nav .nav-link {
			color: #fff !important;
		}
	}
</style>

{% include 'google_translate.html' %}

<body>
	<div id="google_translate_element"></div>
	{% include 'common/googletagmanager_body.html' %}
	<!-- <nav class="navbar navbar-expand-lg navbar-light ml-auto fixed-top" > -->
	<nav class="navbar navbar-expand-lg navbar-light ml-auto">
		<a href="/">
			<img src="{{url_for('static', filename='image/newLogo.jpg')}}" width="350"
				height="128">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav" aria-expanded="true">
			<ul class="navbar-nav">
				{% for menu in menus %}
				<li class="nav-item">
					<a class="nav-link" href="{{menu.path}}">{{menu.label}}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</nav>

	<div sytle="z-index:1">
		{% block body %}
		{% endblock %}
	</div>

</body>

<script type="text/javascript">
	// fix menu show delay bug
	$('#navbarNav').on('show.bs.collapse', function () {
		$(this).hide();
	})
	$('#navbarNav').on('shown.bs.collapse', function () {
		$(this).show();
	})
</script>

<!-- <footer class="page-footer font-small mdb-color pt-4 text-white bg-dark fixed-bottom"> -->
<footer class="page-footer font-small mdb-color pt-4 text-white bg-dark">

	<div class="container text-center text-md-left">
		<div class="row text-center text-md-left">
			<p class="text-center text-md-left">© 2020 Copyright: 武汉大学北加州校友会,
				武汉大学海外校友科学基金会 - 唯一官方网站</p>
		</div>
		<div class="row">
			<p>武汉大学主页: <a href="https://www.whu.edu.cn"
					target="_blank">https://www.whu.edu.cn</a></p>
			<p style="margin-left: 10px">武汉大学校友总会: <a href="https://alumni.whu.edu.cn"
					target="_blank">https://alumni.whu.edu.cn</a></p>
		</div>
	</div>

</footer>
