<!DOCTYPE HTML>
<html>

<head>
	{% include 'common/googletagmanager_head.html' %}
	<meta http-equiv=”Content-Type” content=”text/html; charset=utf-8″>
	<script type="text/javascript"
		src="{{ url_for('static', filename='jQuery.js') }}"></script>
	<script type="text/javascript"
		src="{{ url_for('static', filename='bootstrap-4.4.1-dist/js/bootstrap.min.js') }}"></script>
	<script type="text/javascript"
		src="{{ url_for('static', filename='bootstrap-4.4.1-dist/js/bootstrap.bundle.js') }}"></script>
	<script type="text/javascript"
		src="{{ url_for('static', filename='utils.js') }}"></script>
	<script type="text/javascript"
		src="{{ url_for('static', filename='SlideShow.js') }}"></script>
	<script type="text/javascript"
		src="{{ url_for('static', filename='visualization.js') }}"></script>
	<script type="text/javascript"
		src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
		</script>
	<link rel="stylesheet"
		href="{{ url_for('static', filename='bootstrap-4.4.1-dist/css/bootstrap-grid.css') }}">
	<link rel="stylesheet"
		href="{{ url_for('static', filename='bootstrap-4.4.1-dist/css/bootstrap.min.css') }}">
</head>

<style>
	/* menu layout */
	@media (max-width: 995px) {
		#navbarNav {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, .8);
			z-index: 999;
		}

		#navbarNav .navbar-nav {
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			background: #0C1D0F;
			width: 140px;
			padding: 10px;
		}

		#navbarNav .navbar-nav .nav-link {
			color: #fff !important;
		}
	}
</style>

{% include 'google_translate.html' %}

<body>
	<div id="google_translate_element"></div>
	{% include 'common/googletagmanager_body.html' %}
	<!-- <nav class="navbar navbar-expand-lg navbar-light ml-auto fixed-top" > -->
	<nav class="navbar navbar-expand-lg navbar-light ml-auto">
		<a href="/">
			<img src="{{url_for('static', filename='image/newLogo.jpg')}}" width="350"
				height="128">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav" aria-expanded="true">
			<ul class="navbar-nav">
				{% for menu in menus %}
				<li class="nav-item">
					<a class="nav-link" href="{{menu.path}}">{{menu.label}}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</nav>

	<div sytle="z-index:1">
		{% block body %}
		{% endblock %}
	</div>

</body>

<script type="text/javascript">
	// fix menu show delay bug
	$('#navbarNav').on('show.bs.collapse', function () {
		$(this).hide();
	})
	$('#navbarNav').on('shown.bs.collapse', function () {
		$(this).show();
	})

	function googleTranslateElementInit() {
		new google.translate.TranslateElement({
			pageLanguage: 'zh-CN',
			includedLanguages: 'en,zh-CN,ja,ko,fr,it,es',
			layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
			autoDisplay: false
		}, 'google_translate_element');
	}

	$('#google_translate_element').on("click", function () {

		$("iframe").contents().find(".goog-te-menu2-item div, .goog-te-menu2-item:link div, .goog-te-menu2-item:visited div, .goog-te-menu2-item:active div, .goog-te-menu2 *")
			.css({
				'color': '#544F4B',
				'font-family': 'Roboto',
				'width': '100%'
			});
		// Change menu's padding
		$("iframe").contents().find('.goog-te-menu2-item-selected').css('display', 'none');

		// Change menu's padding
		$("iframe").contents().find('.goog-te-menu2').css('padding', '0px');

		// Change the padding of the languages
		$("iframe").contents().find('.goog-te-menu2-item div').css('padding', '20px');

		// Change the width of the languages
		$("iframe").contents().find('.goog-te-menu2-item').css('width', '100%');
		$("iframe").contents().find('td').css('width', '100%');

		// Change hover effects
		$("iframe").contents().find(".goog-te-menu2-item div").hover(function () {
			$(this).css('background-color', '#4385F5').find('span.text').css('color', 'white');
		}, function () {
			$(this).css('background-color', 'white').find('span.text').css('color', '#544F4B');
		});

		// Change Google's default blue border
		$("iframe").contents().find('.goog-te-menu2').css('border', 'none');

		// Change the iframe's box shadow
		$(".goog-te-menu-frame").css('box-shadow', '0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3)');

		// Change the iframe's size and position?
		$(".goog-te-menu-frame").css({
			'height': '100%',
			'width': '100%',
			'top': '0px'
		});
		// Change iframes's size
		$("iframe").contents().find('.goog-te-menu2').css({
			'height': '100%',
			'width': '100%'
		});
	});
</script>



<!-- <footer class="page-footer font-small mdb-color pt-4 text-white bg-dark fixed-bottom"> -->
<footer class="page-footer font-small mdb-color pt-4 text-white bg-dark">

	<div class="container text-center text-md-left">
		<div class="row text-center text-md-left">
			<p class="text-center text-md-left">© 2020 Copyright: 武汉大学北加州校友会,
				武汉大学海外校友科学基金会 - 唯一官方网站</p>
		</div>
		<div class="row">
			<p>武汉大学主页: <a href="https://www.whu.edu.cn"
					target="_blank">https://www.whu.edu.cn</a></p>
			<p style="margin-left: 10px">武汉大学校友总会: <a href="https://alumni.whu.edu.cn"
					target="_blank">https://alumni.whu.edu.cn</a></p>
		</div>
	</div>

</footer>